#  1.1 Unpacking a Sequence into Separate Variables

In [1]:
p = (4, 5)

In [2]:
x, y = p

In [3]:
x

4

In [4]:
y

5

In [5]:
data = [ 'ACME', 50, 91.1, (2012, 12, 21) ]

In [8]:
name,shares,price,date = data

In [10]:
name

'ACME'

In [11]:
price

91.1

In [12]:
date

(2012, 12, 21)

In [13]:
#-------------------- mismatch , youll get an error

In [14]:
p = (4, 5)

In [15]:
x, y, z = p

ValueError: not enough values to unpack (expected 3, got 2)

In [16]:
#---------Discussion---------------------------------------------

In [17]:
 s = 'Hello'

In [18]:
a, b, c, d, e = s

In [19]:
a

'H'

In [20]:
b

'e'

In [21]:
e

'o'

In [22]:
#----------------------------------------------------------

In [23]:
data = [ 'ACME', 50, 91.1, (2012, 12, 21) ]

In [24]:
 _, shares, price, _ = data

In [25]:
shares

50

In [26]:
price

91.1

# 1.2 Unpacking Elements from iterables of Artibertary LenGth

In [28]:
def drop_first_last(grades):
    first, *middle, last = grades
    return avg(middle)

In [29]:
#-----------------------------------------------------------

In [30]:
record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212')

In [38]:
name, email, *phone_numbers = record

In [39]:
name

'Dave'

In [40]:
email

'dave@example.com'

In [42]:
phone_numbers

['773-555-1212', '847-555-1212']

In [43]:
#-----------------------------------------------------------

In [44]:
 *trailing, current = [10, 8, 7, 1, 9, 5, 10, 3]

In [45]:
trailing

[10, 8, 7, 1, 9, 5, 10]

In [46]:
current

3

In [47]:
#--------------------------------------------------------------

In [48]:
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'

In [49]:
uname, *fields, homedir, sh = line.split(':')

In [50]:
uname

'nobody'

In [51]:
homedir

'/var/empty'

In [52]:
sh

'/usr/bin/false'

In [53]:
#--------------------------------------------------------------

In [54]:
record = ('ACME', 50, 123.45, (12, 18, 2012))

In [55]:
name, *_, (*_, year) = record

In [56]:
name

'ACME'

In [57]:
year

2012

In [58]:
price

91.1

In [59]:
#----------------------------------------------

In [60]:
items = [1, 10, 7, 4, 5, 9]

In [61]:
head, *tail = items

In [62]:
head

1

In [63]:
tail

[10, 7, 4, 5, 9]

In [64]:
#-----------------------------------------

In [65]:
 def sum(items):
    head, *tail = items
    return head + sum(tail) if tail else head

In [66]:
sum(items)

36

# 1.3 keeping the Last N items

In [69]:
from collections import deque

In [70]:
def search(lines, pattern, history=5): 
    previous_lines = deque(maxlen=history) 
    for line in lines:
        if pattern in line:
            yield line, previous_lines
        previous_lines.append(line)

In [73]:
 # Example use on a file
if __name__ == '__main__':
    with open('somefile.txt') as f:
        for line, prevlines in search(f, 'python', 5): 
            for pline in prevlines:
                print(pline, end='')
        print(line, end='') 
        print('-'*20)

FileNotFoundError: [Errno 2] No such file or directory: 'somefile.txt'

In [ ]:
#-------------------------------------------------

In [74]:
q = deque(maxlen=3)

In [75]:
q.append(1)

In [76]:
q.append(2)

In [77]:
q.append(3)

In [78]:
q

deque([1, 2, 3])

In [79]:
q.append(4)

In [80]:
q

deque([2, 3, 4])

In [81]:
q.append(5)

In [82]:
#-------------------------------------------------

In [83]:
q = deque()

In [84]:
q.append(1)

In [85]:
 q.append(2)

In [86]:
q.append(3)

In [87]:
q

deque([1, 2, 3])

In [88]:
q.appendleft(4)

In [89]:
q

deque([4, 1, 2, 3])

In [90]:
q.pop()

3

In [91]:
q

deque([4, 1, 2])

In [92]:
q.popleft()

4

In [93]:
q

deque([1, 2])

In [94]:
#-------------------------------------------------------

# 1.4 Finding the largest to smallest N items

In [117]:
import heapq

In [97]:
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]

In [98]:
print(heapq.nlargest(3, nums)) # Prints [42, 37, 23]

[42, 37, 23]

In [99]:
print(heapq.nsmallest(3, nums)) # Prints [-4, 1, 2]

[-4, 1, 2]

In [100]:
#---------------------------------------------------

In [101]:
 portfolio = [
       {'name': 'IBM', 'shares': 100, 'price': 91.1},
       {'name': 'AAPL', 'shares': 50, 'price': 543.22},
       {'name': 'FB', 'shares': 200, 'price': 21.09},
       {'name': 'HPQ', 'shares': 35, 'price': 31.75},
       {'name': 'YHOO', 'shares': 45, 'price': 16.35},
       {'name': 'ACME', 'shares': 75, 'price': 115.65}
]

In [102]:
cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price'])

In [103]:
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])

In [104]:
#----------------------------------------------------

In [105]:
 nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]

In [106]:
 import heapq

In [107]:
heap = list(nums)

In [108]:
heapq.heapify(heap)

In [109]:
heap

[-4, 2, 1, 23, 7, 2, 18, 23, 42, 37, 8]

In [110]:
#-----------------------------------

In [111]:
heapq.heappop(heap)

-4

In [112]:
 heapq.heappop(heap)

1

In [113]:
 heapq.heappop(heap)

2

# 1.5 implemeniting a Priority Queue

In [121]:
import heapq

class PriorityQueue:
    def _init_(self):
        self._queue = []
        self._index = 0
        
    def push(self, item, priority):
        heapq.heappush(self._queue,(-priority,self._index, item))
        self._index += 1
        
        def pop(self):
            return heapq.heappop(self._queue)[-1]

In [126]:
class Item:
    def __init__(self, name): 
        self.name = name
    def __repr__(self):
        return 'Item({!r})'.format(self.name)

In [127]:
q = PriorityQueue()

In [128]:
q.push(Item('foo'), 1)

AttributeError: 'PriorityQueue' object has no attribute '_queue'

In [125]:
q.push(Item('bar'), 5)

AttributeError: 'PriorityQueue' object has no attribute '_queue'

In [129]:
#----------------------------------------------

In [130]:
 a = Item('foo')

In [131]:
b = Item('bar')

In [132]:
a < b

TypeError: '<' not supported between instances of 'Item' and 'Item'

In [133]:
#--------------------------------------------

In [134]:
a = (1, Item('foo'))

In [135]:
b = (5, Item('bar'))

In [136]:
 a < b

True

In [137]:
c = (1, Item('grok'))

In [138]:
a < c

TypeError: '<' not supported between instances of 'Item' and 'Item'

In [139]:
#-----------------------------------------------

In [140]:
a = (1, 0, Item('foo'))

In [141]:
b = (5, 1, Item('bar'))

In [142]:
c = (1, 2, Item('grok'))

In [148]:
a < b

True

In [150]:
a < c

True

# 1.6 Mapping Keys to multiple Values in a Dictionary

In [154]:
d={
'a' : [1, 2, 3], 
'b' : [4, 5]
}
e={
'a' : {1, 2, 3},
'b' : {4, 5}
}

In [155]:
from collections import defaultdict

In [156]:

d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['b'].append(4)

In [157]:
d = defaultdict(set)

In [158]:
d['a'].add(1)
d['a'].add(2)
d['b'].add(4)

In [159]:
d = {} # A regular dictionary 
d.setdefault('a', []).append(1) 
d.setdefault('a', []).append(2) 
d.setdefault('b', []).append(4)

In [166]:
d = {}
for key, value in pairs:
    if key not in d: 
         d[key] = []
    d[key].append(value)

NameError: name 'pairs' is not defined

In [167]:
#---------------------------------better code

In [168]:
d = defaultdict(list)
for key, value in pairs: 
    d[key].append(value)

NameError: name 'pairs' is not defined

# 1.7 Keeping dictionaries in Order

In [171]:
from collections import OrderedDict
d = OrderedDict()
d['foo'] = 1
d['bar'] = 2
d['spam'] = 3
d['grok'] = 4

In [173]:
for key in d: 
    print(key, d[key])

foo 1
bar 2
spam 3
grok 4

In [174]:
#--------------------------------

In [175]:
import json

In [176]:
json.dumps(d)

'{"foo": 1, "bar": 2, "spam": 3, "grok": 4}'

# 1.8 Calculating with Dictionaries

In [177]:
 prices = {
       'ACME': 45.23,
       'AAPL': 612.78,
       'IBM': 205.55,
       'HPQ': 37.20,
       'FB': 10.75
}

In [178]:
min_price = min(zip(prices.values(), prices.keys()))
# min_price is (10.75, 'FB')

In [179]:
max_price = max(zip(prices.values(), prices.keys()))
# max_price is (612.78, 'AAPL')

In [180]:
prices_sorted = sorted(zip(prices.values(), prices.keys()))
# prices_sorted is [(10.75, 'FB'), (37.2, 'HPQ'),
# (45.23, 'ACME'), (205.55, 'IBM'),
# (612.78, 'AAPL')]

In [181]:
#-------------------------------------------------

In [182]:
prices_and_names = zip(prices.values(), prices.keys())

In [183]:
print(min(prices_and_names))

(10.75, 'FB')

In [184]:
print(max(prices_and_names))

ValueError: max() arg is an empty sequence

In [185]:
#-----------------------------------------

In [186]:
min(prices)

'AAPL'

In [187]:
max(prices)

'IBM'

In [188]:
#--------------------------

In [189]:
min(prices.values())

10.75

In [190]:
max(prices.values())

612.78

In [191]:
#----------------------------------

In [192]:
min(prices, key=lambda k: prices[k])

'FB'

In [193]:
max(prices, key=lambda k: prices[k])

'AAPL'

In [194]:
#-------------------

In [195]:
min_value = prices[min(prices, key=lambda k: prices[k])]

In [196]:
#---------------------------------------------------

In [197]:
prices = { 'AAA' : 45.23, 'ZZZ': 45.23 }

In [198]:
min(zip(prices.values(), prices.keys()))

(45.23, 'AAA')

In [199]:
max(zip(prices.values(), prices.keys()))

(45.23, 'ZZZ')

# 1.9 Finding Commonalities in Two Dictionaries

In [200]:
a={
'x' : 1,
'y' : 2,
'z' : 3 }

In [201]:
b={
'w' : 10,
'x' : 11,
'y' : 2 }

In [202]:
a.keys() & b.keys()

{'x', 'y'}

In [203]:
a.keys() - b.keys()

{'z'}

In [204]:
a.items() & b.items()

{('y', 2)}

In [206]:
#---------------------------------

In [207]:
c = {key:a[key] for key in a.keys() - {'z', 'w'}}
# c is {'x': 1, 'y': 2}

# 1.10 Removing Duplicates from a Sequence while maintinaing order

In [210]:
def dedupe(items): 
    seen = set()
    for item in items:
        if item not in seen:
            yield item 
            seen.add(item)

In [211]:
 a = [1, 5, 2, 1, 9, 1, 5, 10]

In [212]:
list(dedupe(a))

[1, 5, 2, 9, 10]

In [213]:
#-------------------------------------

In [214]:
def dedupe(items, key=None):
    seen = set()
    for item in items:
        val = item if key is None else key(item) 
        if val not in seen:
            yield item 
            seen.add(val)

In [215]:
 a = [ {'x':1, 'y':2}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]

In [216]:
list(dedupe(a, key=lambda d: (d['x'],d['y'])))

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 2, 'y': 4}]

In [217]:
list(dedupe(a, key=lambda d: d['x']))

[{'x': 1, 'y': 2}, {'x': 2, 'y': 4}]

In [218]:
#---------------------------------

In [219]:
a

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 1, 'y': 2}, {'x': 2, 'y': 4}]

In [225]:
a

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 1, 'y': 2}, {'x': 2, 'y': 4}]

In [226]:
set(a)

TypeError: unhashable type: 'dict'

In [227]:
#--------------TO READ A FILE , ELIMATING DUPLICATE LINES

In [228]:
with open(somefile,'r') as f:
    for line in dedupe(f):

IndentationError: expected an indented block (4067856730.py, line 2)

# 1.11 Naming a Slice

In [233]:
######    0123456789012345678901234567890123456789012345678901234567890'
record = '....................100          .......513.25     ..........'
cost = int(record[20:32]) * float(record[40:48])

In [234]:
#---------------------------------------------

In [235]:
SHARES = slice(20,32)
PRICE  = slice(40,48)

In [236]:
 cost = int(record[SHARES]) * float(record[PRICE])

In [237]:
#-----------------------------------------

In [238]:
items = [0, 1, 2, 3, 4, 5, 6]

In [239]:
a = slice(2, 4)

In [240]:
items[2:4]

[2, 3]

In [241]:
items[a]

[2, 3]

In [242]:
items[a] = [10,11]

In [243]:
items

[0, 1, 10, 11, 4, 5, 6]

In [244]:
 del items[a]

In [245]:
items

[0, 1, 4, 5, 6]

In [246]:
#---------------------------

In [247]:
a = slice(10, 50, 2)

In [248]:
a.start

10

In [249]:
a.stop

50

In [250]:
a.step

2

In [251]:
#----------------------------

In [252]:
 s = 'HelloWorld'

In [253]:
a.indices(len(s))

(10, 10, 2)

In [254]:
for i in range(*a.indices(len(s))):
    print(s[i])

# 1.12 Determining the Most Frequenstly Occuring Items in a Sequence

In [255]:

    words = [
       'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
       'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
       'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
       'my', 'eyes', "you're", 'under'
]

In [259]:
from collections import Counter
word_counts = Counter(words)
top_three = word_counts.most_common(3) 
print(top_three)
 # Outputs [('eyes', 8), ('the', 5), ('look', 4)]

[('eyes', 8), ('the', 5), ('look', 4)]

In [260]:
#----------------------------------------------

In [261]:
word_counts['not']

1

In [263]:
word_counts['eyes']

8

In [264]:
morewords = ['why','are','you','not','looking','in','my','eyes']

In [266]:
for word in morewords:
    word_counts[word] += 1

In [267]:
word_counts['eyes']

10

In [268]:
#---------------------------------------

In [270]:
word_counts.update(morewords)

In [271]:
#-----------------------------------

In [272]:
a = Counter(words)

In [273]:
b = Counter(morewords)

In [274]:
a

Counter({'look': 4,
         'into': 3,
         'my': 3,
         'eyes': 8,
         'the': 5,
         'not': 1,
         'around': 2,
         "don't": 1,
         "you're": 1,
         'under': 1})

In [275]:
b

Counter({'why': 1,
         'are': 1,
         'you': 1,
         'not': 1,
         'looking': 1,
         'in': 1,
         'my': 1,
         'eyes': 1})

In [276]:
# Combine counts
c = a + b

In [277]:
c

Counter({'look': 4,
         'into': 3,
         'my': 4,
         'eyes': 9,
         'the': 5,
         'not': 2,
         'around': 2,
         "don't": 1,
         "you're": 1,
         'under': 1,
         'why': 1,
         'are': 1,
         'you': 1,
         'looking': 1,
         'in': 1})

In [278]:
# Subtract counts
d = a - b

In [279]:
d

Counter({'look': 4,
         'into': 3,
         'my': 2,
         'eyes': 7,
         'the': 5,
         'around': 2,
         "don't": 1,
         "you're": 1,
         'under': 1})

# 1.13 Sorting a List of Dictionaries by a Common Key

In [280]:
rows = [
        {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
        {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
        {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
        {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [281]:
from operator import itemgetter

In [282]:
rows_by_fname = sorted(rows, key=itemgetter('fname'))

In [283]:
rows_by_uid = sorted(rows, key=itemgetter('uid'))

In [284]:
print(rows_by_fname)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [285]:
print(rows_by_uid)

[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]

In [286]:
#---------------------

In [287]:
rows_by_lfname = sorted(rows, key=itemgetter('lname','fname'))

In [288]:
print(rows_by_lfname)

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

In [289]:
#------------------------

In [290]:
rows_by_fname = sorted(rows, key=lambda r: r['fname'])

In [291]:
rows_by_lfname = sorted(rows, key=lambda r: (r['lname'],r['fname']))

In [292]:
 min(rows, key=itemgetter('uid'))

{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}

In [293]:
 max(rows, key=itemgetter('uid'))

{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}

# 1.14 Sorting Objects without native compairison support

In [294]:
class User:
    def __init__(self, user_id):
        self.user_id = user_id
    def __repr__(self):
        return 'User({})'.format(self.user_id)

In [295]:
users = [User(23), User(3), User(99)]

In [296]:
users

[User(23), User(3), User(99)]

In [297]:
sorted(users, key=lambda u: u.user_id)

[User(3), User(23), User(99)]

In [298]:
#---------------------------------------

In [299]:
 from operator import attrgetter

In [300]:
 sorted(users, key=attrgetter('user_id'))

[User(3), User(23), User(99)]

In [301]:
#------------------------------------------

In [304]:
by_name = sorted(users, key=attrgetter('last_name', 'first_name'))

AttributeError: 'User' object has no attribute 'last_name'

In [305]:
min(users, key=attrgetter('user_id')

SyntaxError: unexpected EOF while parsing (92426632.py, line 1)

In [306]:
max(users, key=attrgetter('user_id')

SyntaxError: unexpected EOF while parsing (127317501.py, line 1)

# 1.15 Group Records Together Based on a Field

In [307]:
 rows = [
        {'address': '5412 N CLARK', 'date': '07/01/2012'},
        {'address': '5148 N CLARK', 'date': '07/04/2012'},
        {'address': '5800 E 58TH', 'date': '07/02/2012'},
        {'address': '2122 N CLARK', 'date': '07/03/2012'},
        {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
        {'address': '1060 W ADDISON', 'date': '07/02/2012'},
        {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
        {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [310]:
from operator import itemgetter
from itertools import groupby
 # Sort by the desired field first
rows.sort(key=itemgetter('date'))
 # Iterate in groups
for date, items in groupby(rows, key=itemgetter('date')):
    print(date)
    for i in items:
        print(' ', i)

07/01/2012
  {'address': '5412 N CLARK', 'date': '07/01/2012'}
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
  {'address': '5800 E 58TH', 'date': '07/02/2012'}
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
  {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
  {'address': '5148 N CLARK', 'date': '07/04/2012'}
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [311]:
#-------------------------------------------

In [313]:
from collections import defaultdict
rows_by_date = defaultdict(list)
for row in rows:
    rows_by_date[row['date']].append(row)

In [314]:
#-------- ALLOWS THE RECORDS FOR EACH DATE TO BE ACCES EASILY LIKE THIS

In [315]:
for r in rows_by_date['07/01/2012']:
    print(r)

{'address': '5412 N CLARK', 'date': '07/01/2012'}
{'address': '4801 N BROADWAY', 'date': '07/01/2012'}

# 1.16 Filtering Sequence Elements

In [316]:
 mylist = [1, 4, -5, 10, -7, 2, 3, -1]

In [317]:
[n for n in mylist if n > 0]

[1, 4, 10, 2, 3]

In [318]:
[n for n in mylist if n < 0]

[-5, -7, -1]

In [ ]:
#---------------------------------------------

In [319]:
 pos = (n for n in mylist if n > 0)

In [320]:
 pos

In [321]:
for x in pos:
    print(x)

1
4
10
2
3

In [322]:
#-----------------------------------

In [323]:
 values = ['1', '2', '-3', '-', '4', 'N/A', '5']

In [324]:
def is_int(val):
    try:
        x = int(val)
        return True
    except ValueError:
        return False
ivals = list(filter(is_int, values))

In [325]:
print(ivals)

['1', '2', '-3', '4', '5']

In [ ]:
#-------------------------------------------------

In [326]:
 mylist = [1, 4, -5, 10, -7, 2, 3, -1]

In [327]:
import math

In [328]:
[math.sqrt(n) for n in mylist if n > 0]

[1.0, 2.0, 3.1622776601683795, 1.4142135623730951, 1.7320508075688772]

In [329]:
#------------------------------------------

In [330]:
clip_neg = [n if n > 0 else 0 for n in mylist]

In [331]:
clip_neg

[1, 4, 0, 10, 0, 2, 3, 0]

In [332]:
clip_pos = [n if n < 0 else 0 for n in mylist]

In [333]:
clip_pos

[0, 0, -5, 0, -7, 0, 0, -1]

In [334]:
#----------------------------------------

In [335]:
addresses = [
        '5412 N CLARK',
        '5148 N CLARK',
        '5800 E 58TH',
        '2122 N CLARK'
        '5645 N RAVENSWOOD',
        '1060 W ADDISON',
        '4801 N BROADWAY',
        '1039 W GRANVILLE',
    ]

In [336]:
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

In [ ]:
#--------------------------------------------------

In [337]:
from itertools import compress

In [338]:
more5 = [n > 5 for n in counts]

In [339]:
more5

[False, False, True, False, False, True, True, False]

In [340]:
list(compress(addresses, more5))

['5800 E 58TH', '4801 N BROADWAY', '1039 W GRANVILLE']

# 1.17 Extracting a Subset of a Dictionary

In [341]:
  prices = {
       'ACME': 45.23,
       'AAPL': 612.78,
       'IBM': 205.55,
       'HPQ': 37.20,
       'FB': 10.75
}

In [342]:
 # Make a dictionary of all prices over 200
p1 = { key:value for key, value in prices.items() if value > 200 }

In [343]:
 # Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }

In [344]:
#-------------------------------------------------

In [345]:
# Make a dictionary of tech stocks
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:prices[key] for key in prices.keys() & tech_names }

# 1.18 Mapping Names to Sequence ELements

In [346]:
from collections import namedtuple

In [347]:
Subscriber = namedtuple('Subscriber', ['addr', 'joined'])

In [348]:
sub = Subscriber('jonesy@example.com', '2012-10-19')

In [349]:
sub

Subscriber(addr='jonesy@example.com', joined='2012-10-19')

In [350]:
Subscriber(addr='jonesy@example.com', joined='2012-10-19')

Subscriber(addr='jonesy@example.com', joined='2012-10-19')

In [351]:
 sub.addr

'jonesy@example.com'

In [352]:
sub.joined

'2012-10-19'

In [353]:
#--------------------------------------------

In [354]:
len(sub)

2

In [355]:
addr, joined = sub

In [356]:
 addr

'jonesy@example.com'

In [357]:
joined

'2012-10-19'

In [358]:
#----------------------------------------------------

In [359]:
def compute_cost(records):
    total = 0.0
    for rec in records:
        total += rec[1] * rec[2]
    return total

In [360]:
#-------------------------------------

In [361]:
from collections import namedtuple
Stock = namedtuple('Stock', ['name', 'shares', 'price'])

In [363]:
def compute_cost(records):
    total = 0.0
    for rec in records:
        s = Stock(*rec)
        total += s.shares * s.price
        return total

In [364]:
#-----------------------------------------------

In [365]:
s = Stock('ACME', 100, 123.45)

In [366]:
s

Stock(name='ACME', shares=100, price=123.45)

In [367]:
s.shares = 75

AttributeError: can't set attribute

In [368]:
#--------------------------------------

In [369]:
 s = s._replace(shares=75)

In [370]:
s

Stock(name='ACME', shares=75, price=123.45)

In [371]:
#----------------------------------------

In [372]:
from collections import namedtuple
Stock = namedtuple('Stock', ['name', 'shares', 'price', 'date', 'time'])

In [374]:
 # Create a prototype instance
stock_prototype = Stock('', 0, 0.0, None, None)

In [375]:
  # Function to convert a dictionary to a Stock
def dict_to_stock(s):
    return stock_prototype._replace(**s)

In [376]:
#---------------------------------------------

In [377]:
a = {'name': 'ACME', 'shares': 100, 'price': 123.45}

In [378]:
dict_to_stock(a)

Stock(name='ACME', shares=100, price=123.45, date=None, time=None)

In [379]:
 b = {'name': 'ACME', 'shares': 100, 'price': 123.45, 'date': '12/17/2012'}

In [380]:
dict_to_stock(b)

Stock(name='ACME', shares=100, price=123.45, date='12/17/2012', time=None)

# 1.19 Transforming and Reducing Data at the same time

In [381]:
nums = [1, 2, 3, 4, 5]
s = sum(x * x for x in nums)

In [383]:
 # Determine if any .py files exist in a directory
import os
files = os.listdir('dirname')
if any(name.endswith('.py') for name in files):
    print('There be python!')
else:
    print('Sorry, no python.')
    
    # Output a tuple as CSV
    s = ('ACME', 50, 123.45)
    print(','.join(str(x) for x in s))
    
    # Data reduction across fields of a data structure  
    portfolio = [
       {'name':'GOOG', 'shares': 50},
       {'name':'YHOO', 'shares': 75},
       {'name':'AOL', 'shares': 20},
       {'name':'SCOX', 'shares': 65}
    ]
    min_shares = min(s['shares'] for s in portfolio)

FileNotFoundError: [Errno 2] No such file or directory: 'dirname'

In [384]:
s = sum((x * x for x in nums)) # Pass generator-expr as argument
s = sum(x * x for x in nums) # More elegant syntax

In [385]:
#-----------------------

In [386]:
nums = [1, 2, 3, 4, 5]
s = sum([x * x for x in nums])

In [387]:
#-------

In [388]:
 # Original: Returns 20
min_shares = min(s['shares'] for s in portfolio)

In [389]:
# Alternative: Returns {'name': 'AOL', 'shares': 20}
min_shares = min(portfolio, key=lambda s: s['shares'])

# 1.20 Combining Multiple Mappings into a Single Mapping

In [390]:
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }

In [391]:
#---------------------------

In [392]:
from collections import ChainMap
c = ChainMap(a,b)
print(c['x']) #outputs 1 (from a)
print(c['y']) #outputs 2 (from b)
print(c['z']) #outputs 3 (from a)

1
2
3

In [393]:
#------------------------------------

In [398]:
 len(c)

4

In [399]:
list(c.keys())

['y', 'z', 'x', 'w']

In [400]:
list(c.values())

[2, 10, 1, 40]

In [394]:
 c['z'] = 10

In [395]:
 c['w'] = 40

In [396]:
a

{'x': 1, 'z': 10, 'w': 40}

In [397]:
del c['y']

KeyError: "Key not found in the first mapping: 'y'"

In [401]:
values = ChainMap()

In [402]:
values['x'] = 1

In [403]:
# Add a new mapping

In [404]:
values = values.new_child()

In [405]:
values['x'] = 2

In [406]:
 # Add a new mapping

In [407]:
values = values.new_child()

In [408]:
values['x'] = 3

In [409]:
values

ChainMap({'x': 3}, {'x': 2}, {'x': 1})

In [410]:
values['x']

3

In [411]:
# Discard last mapping

In [412]:
values = values.parents

In [413]:
values['x']

2

In [414]:
# Discard last mapping

In [415]:
values = values.parents

In [416]:
values['x']

1

In [417]:
 values

ChainMap({'x': 1})

In [426]:
#----------------------------------------------

In [419]:
 a = {'x': 1, 'z': 3 }

In [420]:
 b = {'y': 2, 'z': 4 }

In [421]:
merged = dict(b)

In [422]:
merged.update(a)

In [423]:
merged['x']

1

In [424]:
merged['y']

2

In [425]:
merged['z']

3

In [427]:
#-------------------------------------------------

In [428]:
a['x'] = 13

In [429]:
 merged['x']

1

In [430]:
 a = {'x': 1, 'z': 3 }

In [431]:
b = {'y': 2, 'z': 4 }

In [432]:
 merged = ChainMap(a, b)

In [433]:
 merged['x']

1

In [434]:
a['x'] = 42

In [436]:
merged['x']  # Notice change to merged dicts

42

In [437]:
a

{'x': 42, 'z': 3}

---
In lab 3, I learned how to unpack a sequence into separate variables. For example , p= (4,5) . x,y = p . x will equal to 4 and y will equal t o 5. I also learned how to unpack elements from iterables of Artibertary length using the same syntax for making separate variables. I also learned how to keep the last N items. The syntax for that is .append(). I learned how to map keys to multiple values in a dictionary, keep dictionaries in order and calculate them. You find the max or the min by the syntax min or max(zip()). You can find commonalities in two dictionaries using the syntax a.keys() & b.keys(). You can remove duplicates from a sequence while maintaining order. The syntax for that is list(dedupe(()).You can determine the most frequently occurring items in a sequence by using the syntax word_counts[] and Counter.You cna sort a list of dictionaries by a common key. 



---